{% extends "basic.html" %}
{% load static %}

 
    {% block head %}

     <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css" type="text/css" rel="stylesheet" >

{% endblock %}




{% block body %}


<br><center><h2> Lịch sử tư vấn </h2>
</center>
<div class="container  mt-5 mb-3">
<br>




            <table class="table table-hover table-bordered">
              <thead class="thead-dark">
                <tr>
                  <th>Tên bác sĩ</th>
                  <th>Email Bác sĩ</th>
                  <th>Thông tin về bác sĩ</th>
                  <th>Tên bệnh dự đoán</th>
                  <th>Ngày tư vấn</th>
                  <th>Tình trạng tư vấn</th>
                  <th>Tiếp tục</th>
                </tr>
              </thead>

              <tbody>
               
               {% for i in consultation %}
               
               
                <tr>
                  <td>{{i.doctor.name}}</td>
                  <td>{{i.doctor.user.email}}</td>
                  <td>
                  
                    <form action="{% url 'dviewprofile' i.doctor.user.username %}" method="GET">
                      {% csrf_token %} 
                       <button type="submit" class="btn btn-primary">Xem hồ sơ</button>  
                    </form>

                  </td>

                  <td>{{i.diseaseinfo.diseasename}}</td>
                  <td>{{i.consultation_date}}</td>
                  <td>{{i.status}}</td>

                  <td>
                    
                      <form action="{% url 'consultationview' i.id %}" method="GET">
                          {% csrf_token %} 
                           <button type="submit" class="btn btn-primary"> Tư vấn</button>  
                        </form>
    
                  </td>
                </tr>


                {% endfor %}

              
              </tbody>
            </table>
        


</div>
  
{% endblock %}